$white: #ffffff;
$black: #000000;
$gray: #818181;
$dark_white: darken(white, 30%);
$light_white: #FFFDFD;

* {
  box-sizing: border-box;
}

.feed-bottom-container-small {
  display: flex;
  padding-bottom: .9rem;
  padding-right: 1rem;
}

.feed-bottom-large-card-container-image {
  width: 100%;
  height: 20rem;
  border-radius: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 80%), url('/assets/img/blur-charge-close-up-256302.jpg');
  background-size: cover;
  position: relative;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  margin-bottom: 2rem;
}

.feed-bottom-container__small_image {
  width: 6rem;
  height: 6rem;
  border-radius: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 80%), url('/assets/img/hands-join.jpg');
  background-size: cover;
}


.feed-bottom-container__large_image_info-container {
  position: absolute;
  bottom: 0;
  width: 80%;
  color: $white;
  padding: 10%;
}

.feed-bottom-container__small_image_info-container {
  height: 7rem;
  padding-left: 1rem;
  font-family: 'Montserrat-Light';
  margin: 0.4rem 0 0.7rem;
  font-size: 0.8rem;
  flex: 1;

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}

.feed-bottom-container__large_image__info-published-date, .feed-bottom-container__small_image__info-published-date {
  color: $dark_white;
  font-size: 0.9em;
  margin-bottom: 0.7em;
}



.feed-bottom-container__large_image__info-minutes-read, .feed-bottom-container__small_image__info-minutes-read {
  color: $dark_white;
  font-size: 0.9em;
}

.feed-bottom-container__large_image__info-header {
  margin: 0;
  font-family: 'Montserrat-Medium'
}

.feed-bottom-container__small_image__info-header {
  margin: 0;
  font-family: 'Montserrat-Medium';
  font-weight: bold
}

.feed-container-article-block {
  margin-right: 5%;
}

.feed-bottom-section {
  max-width: 100%;
  margin: auto;
  padding: 2em; 
}

.feed-bottom-container-small-card {
  display: flex;
  margin-bottom: 2%;
}

.top-categories-header {
  display: flex;
  font-family: 'Montserrat-Bold';
  h3{
    border-bottom: 1px solid darken(yellow, 5);
    border-bottom: 2%;
    padding-bottom: 1rem;
  }
}

.feed-bottom-container__article-description, .feed-container-article-block-second {
  display: none;
}

.nav-container-feed-bottom {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 7%;
    font-size: 85%;

    li {
      display: inline-block;
      font-size: 0.8em;
      padding: 0.7em;
      border-bottom: 1px solid $gray;

      a{
        text-decoration: none;
        font-family: 'Montserrat-SemiBold';
        color: $gray;
      }
    }
  }
}

@media all and (min-width:720px) {
  .feed-bottom-large-card-container {
    margin-bottom: 2em;
  }
  .feed-bottom-side {
    display: flex;
    flex: 2;
    width: 100%;
  }

  .feed-bottom-large-card-container{
    width: 100%;
  }

  .feed-bottom {
    flex-direction: row;
    height: 60rem;
    padding-top: 3%;
  }

  .nav-container-feed-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      padding: 0;
      li {
        display: flex;
        justify-content: space-around;
        border-bottom: 0;
        border-bottom: 1px solid darken(yellow, 5);
        padding: 1rem 0.8rem 1rem 0;
        padding: 1rem;
      }
      a{
        text-decoration: none;
        font-family: 'Montserrat-SemiBold';
        color: $gray;
      }

      &.active {
        padding: 1rem;
      }
    }
   
  }
  .top-categories-header {
    display: flex;
    flex:1;
    border-bottom: 1px solid $gray;
    
    h3{
      border-bottom: 0;
    }
  }
  .feed-bottom-large-card-container-image {
    height: 20rem;
  }

  .feed-bottom-section {
    padding: 3rem 5rem 0 5rem;
  }

  .nav-items {
    margin-top: 2rem;
  }
  .feed-container-article-block-second {
    display: flex;
    flex-direction: column;
  }
  .feed-bottom-container__article-description {
    display: flex;
    font-size: 0.9em;
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    line-height: 1.6rem;
  }
}

@media all and (min-width: 1024px) {
  .feed-bottom {
    display:flex;
    flex-direction: row;
    height: 60rem;
    padding-top: 3%;
  }
  .feed-bottom-large-card-container {
    width: 35%;
  }
  .feed-bottom-side {
    padding-left: 4%;
  }
}