.post-content {
  margin-top: 2em;
  min-height: 12em;
}

.post-content__title {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: Montserrat-SemiBold;
}

.post-content__label {
  color: black;
  margin-bottom: 1em;
}

.post-content__header {
  color: black;
}

.post-content__body {
  min-height: 10em;
  margin-bottom: 2em;
}

.post-content__text {
  font-size: 2em;
}

.post-content {

  padding: 2em;

  + footer {
    display: none;
  }
}

.react-tagsinput--focused {
  border-color: #bdbdbd !important;
}

.react-tagsinput-tag {
  background-color: #ffdf63 !important;
  border-radius: 2px !important;
  border: 1px solid rgba(0, 0, 0, 0.18) !important;
  color: #000000 !important;
}

// overriding the draft richtext styles 

.post-content__body .md-RichEditor-root {
  min-height: 20em;
}

.DraftEditor-root {
  z-index: 0;
}

.md-side-toolbar {
  z-index: 0 !important;
}