@import '../../styles/style';

.Toastify__toast--error.toast-custom-style,
.Toastify__toast--success.toast-custom-style {
  border-radius: 0.2rem;
  font-family: Montserrat-Light;
  min-height: inherit;
  padding-right: 2rem;
  position: relative;
  top: 3rem;
  right: 1.5rem;

  > .Toastify__toast-body {
    font-size: 0.8rem;
  }
}

.Toastify__toast--error.toast-custom-style {
  background: #fd2c27;
}

.banner-section {
  min-height: 30em;
  overflow: hidden;
  position: relative;
  text-align: center;

  .banner-image {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  padding-top: 3em;
  line-height: 2em;
}

.banner-content-title {
  color: white;
  font-family: Montserrat-Bold;
  font-size: 1.5em;
  margin-bottom: 2.5em;
  line-height: 1.3em;
}

.transparent-overlay {
  position: absolute;
  background-color: $dark-transparency-level-2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rounded-image {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid white;
}

.article-header-username {
  font-family: Montserrat-Bold;
  font-size: 1.5em;
  color: white;
}

.avatar-text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-section {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1.3em;

  img {
    width: 100%;
  }

  .article-body {
    white-space: pre-line;
    line-height: 2em;
    margin-bottom: 2em;
  }

  white-space: pre-line;
  line-height: 2em;
}

.section-comment-create {
  position: relative;
  margin-bottom: 2em;
  margin-top: 1em;
}

.hr {
  border: 0.02em solid #E0DFDF;
  height: 0.02em;
}

.section-article-info {
  padding-top: 1em;
  margin-bottom: 4em;
}

.impressions-section {
  display: flex;
}

.section-user-comments {
  margin-top: 3em;
}
.article-comment-field{
  border: none !important;
}
.comment-create-field {
  background-color: #f6f6f6;
  border-radius: 0.2em;
  border: 1px solid #E5E5E5;
}

.article-header-rated-times {
  color: rgb(189, 184, 184);
}

.filter-form > h2 {
  &.list-section-header {
    text-align: left;
    padding-bottom: 0.6em;
    border-bottom: 1px solid #cccccc;
    font-family: Montserrat-SemiBold;
  }
}

button.article-comment-field__button{
  border-radius: 6px;
  padding: 0.25rem 0.625rem;
  margin-left: auto;
  font-weight: 300;
  background: white;
  color: black;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  display: block;
  -webkit-appearance: unset;
}

.impressions-container{
  display: none;
}

.impressions-container-mobile { 
  display: flex;
  width: 55%;
  border-radius: 0.4em;
}

.auto-container-body{
  display: flex;
}

.rate-impression {
  display: flex;
  
  p {
    margin-right: 1em;
  }
}

.impression {
  width: 31%;
   p{
     font-size: 0.9em;
     font-family: Montserrat-Medium;
   }
}

.bookmark-button {
  left: 85%;
  position: absolute;
  top: 75%;
  cursor: pointer;
}

@media only screen and (min-width: 40em) {

  .article-header-rated-times {
    color: rgb(189, 184, 184);
  }

  .article-rating-container {
    display: flex;
  }

  .banner-section {
    height: 20em;
    text-align: left;
    overflow: unset;
  }
  
  .banner-content {
    display: block;
    flex-direction: row;
    justify-content: unset;
    padding: 0;
    padding-top: 3em;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .banner-content-title {
    font-size: 2.4em;
    margin-bottom: 3.5em;
    line-height: 1.2em;
  }
  
  .article-header-username {
    font-family: Montserrat-Bold;
    font-size: 1.2em;
    color: white;
  }
  
  .avatar-text-group {
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: center;
    position: absolute;
    bottom: -3em;

    .user-profile-picture {
      position: relative;
      display: inline-block;
    }

    .article-username-rate-group {
      position: relative;
      display: inline-block;
      margin-top: -3.5em;
    }
    .impressions-container {
      display: none;
    }
  
    .body-section {
      margin-top: 6em;
    }
  
    .article-body {
      font-size: 1.2em;
      text-align: justify;
    }
  }

  .auto-container {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .body-section {
    margin-top: 6em;
  }

  .article-body {
    font-size: 1.2em;
    text-align: justify;
  }

  .impressions-container-mobile{
    width: 36%;
  }

  .bookmark-button {
    left: 92%;
    top: 85%;
  }
}

@media only screen and (min-width: 60em) {
  .auto-container {
    padding-left: 4em;
    padding-right: 4em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.wide-padding {
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .banner-content-title {
    font-size: 3em;
    margin-bottom: 3.5em;
    line-height: 1.2em;
  }

  .impressions-container {
    display: none;
    position: sticky;
    background: #f7f7f7;
    left: 3em;
    top: 17em;
    width: 7em;
    display: flex;
    flex-direction: column;
    height: 1%;
    padding: 1%;
    margin-right: 4%;
    border-radius: 1em;
    justify-content: space-between;
    border: 1px solid #e8e5e5;
    
      p {
        display: none;
      }
      .impression {
        margin-left: 1em;
        margin-bottom: 1em;
      }
      svg {
        cursor: pointer;
      }
  }

  .impressions-container-mobile { 
    display: none;
  }

  .body-section-info-section {
    padding-left: 17%;
  }

}