.likes-number-group {
  display: flex;
  flex-direction: row;
  width: 5em;
  height: 2em;
  align-items: center;
  margin-left: 0.5em;

  .like-count {
    margin-left: 0.5em;
    font-size: 0.9em;
    margin-top: 0.3em;
    font-family: Montserrat-Medium;
  }

  .dislike-count {
    margin-left: 0.5em;
    font-size: 0.9em;
    margin-top: 0.3em;
    font-family: Montserrat-Medium;
    margin-bottom: 0.5em
  }
}