@import '../../styles/style';

textarea.textarea-input {
    background-color: #f6f6f6;
    width: 100%;
    height: 6em;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid #E5E5E5;
    resize: none;
    color: #555555;
    font-family: Montserrat-Light;
  }