.modal-wrapper {
  background: url('/assets/img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px !important;
  width: 100%;

  .modal-form-container {
    background:rgba(0,0,0,0.75);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    .logo-container {
      margin: 1rem auto;
      h3 {
        color: white;
        margin: auto;
      }
    }
  }

  .reset-password-form__form {
    display: flex;
    flex-direction: column;
    > div {
      display: flex;
      flex-direction: column;
    }
    .password-error-message {
      color: #FBE15D;
    }
    button {
      margin-top: 1rem;
    }
  }
}


.Toastify__toast--error.toast-custom-style.toast-reset-password,
.Toastify__toast--success.toast-custom-style.toast-reset-password {
  top: 15rem;
  right: 50%;
}
