.filter-form {
  min-height: 70vh;
  width: 95%;
  margin-left: 5%;
  padding: 10rem 2rem 3rem;
  justify-content: flex-start;

  >h2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  .feed-bottom-container-small {
    width: 30%;
    padding: 0;
    margin: 1rem 3% 1rem 0;
  }

  .feed-bottom-container__small_image_info-container {
    height: auto;
  }
}

.search-error {
  height: 80px;
  width: 90%;
  justify-content: center;
}

@media (max-width: 60rem) {
  .filter-form { 
    .feed-bottom-container-small {
      width: 45%;
    }
  }
}

@media (max-width: 40rem) {
  .filter-form { 
    .feed-bottom-container-small {
      width: 90%;
    }
  }
}