.nav-tabs {
  font-family: Montserrat-Bold;
  font-weight: 800;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  }
  .nav-tabs a {
    color: #FFFFFF;
    margin-right:3%;
    text-decoration: none;
  }

  .nav-tabs a:hover {
    color: #FBE15D ;
  } 

  @media all and (max-width: 480px) {
    
  }
  @media all and (min-width: 480px) and ( max-width: 1024px) {
    .nav-tabs {
      font-weight: 800;
      font-size: 100%;
    }
  }
  