.post-card {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  color: white;

  .post-card__container {
    background-color: #cccccc;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: relative;
    border-radius: 0.3em;
    overflow: hidden;
    font-family: Montserrat-Light;
  }

  .post-card__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
  }

  .post-card__content {
    position: absolute;
    bottom: 0;
    padding: 1em;
    font-size: 1em;
    line-height: 1.2em;
  }

  .post-card__article-title {
    a {
      font-family: Montserrat-SemiBold;
      font-weight: bold;
      text-decoration: none;
      color: white;
    }
  }
  

  .post-card__author-name {
    font-weight: bold;
    font-family: Montserrat-SemiBold;
    margin-bottom: 0.4em;
    text-transform: capitalize;
  }

  .post-card__category-name {
    color: white;
    background-color: rgba(0,0,0,0.8);
    outline: none;
    border: none;
    padding: 0.2em 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    font-family: Montserrat-Light;
  }

  .post-card__meta-data {
    font-size: 90%;
    margin-top: 1em;
  }

  &.big {
    height: 15em;
  }

  &.small {
    height: 15em;
    width: 50%;
    font-size: 80%;

    &.first {
      padding-right: 0.5em;
    }
    &.second {
      padding-left: 0.5em;
    }
  }

  &.wide {
    height: 13em;
  }

}


@media only screen and (min-width: 40em) {
  .post-card {
    width: 50%;
    float: left;
    padding-bottom: 1em;
    margin-bottom: 0;

  
    &.big {
      width: 50%;
      height: 100%;
      padding-bottom: 0;
      padding-right: 1em;
    }
  
    &.small {
      width: 25%;
      height: 50%;
    }
  
    &.wide {
      width: 50%;
      height: 50%;
      padding-bottom: 0;
    }

    .post-card__container {
      background-color: #cccccc;
      // margin-bottom: 1em;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 60em) {
  
}