.spinner-content {
  background: url('/assets/img/spinner.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  width: 10rem;
  height: 5rem;
  background-position: center;
}
