form {
  > .flex {
    justify-content: space-between;
  }
}

.css-10nd86i,
.css-1sontr1  {
  width: 10rem;
}

.css-wqgs6e,
.css-v73v8k {
  background: white !important;
  color: black !important;
}

.css-162g8z5,
input:disabled {
  cursor: not-allowed;
}