form {
  > .flex {
    justify-content: space-between;
  }
}

.css-10nd86i {
  width: 10rem;
}

.css-wqgs6e,
.css-v73v8k {
  background: white !important;
  color: black !important;
}

.top-reads {
  > form {
    width: 70%;
    margin: 3rem auto 0;

    .top-reads__search {
      width: 100%;
      margin-bottom: 1rem;
      height: 3rem;
      box-shadow: 0 0.2rem 0.25rem rgba(128, 128, 128, 0.5);
    }
    
    .css-10nd86i,
    button {
      margin: 0.5rem 1rem;
    }

    span {
      font-size: 1.25rem;
      margin: 1rem;
    }

    .css-10nd86i {
      border-radius: 4px
    }

    .css-vj8t7z, 
    button {
      border: none;
      box-shadow: 0 0.2rem 0.25rem rgba(128, 128, 128, 0.5);
    }
  }

  .flex {
    justify-content: flex-start;
  }
}

@media (max-width: 40rem) {
  .top-reads > form {
    width: 90%;
    margin: 1rem auto;

    span {
      font-size: 1rem;
      margin: 0.5rem 0.25rem;
    }

    .css-10nd86i,
    button {
      margin: 0.5rem 0.25rem;
      width: 8rem;
    }
  }
}