@import '../home/Banner/settings.scss';
@import '../../../src/styles/base/settings';

.ReactModalPortal {
  display: none;
}

@media (max-width: 720px) {
  .ReactModalPortal {
    display: block;
  }

  .ReactModalPortal > div {
    opacity: 0;
  }

  .ReactModalPortal .ReactModal__Overlay {
    @include overlay-background(0.5, '/assets/images/banner-mobile.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 400ms ease-in-out;
  }

  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $m-size;
    color: white;
    outline: none;
    text-align: center;
    height: 100%;
    width: 100%;

    .logo-container {
      position: absolute;
      display: flex;
      top: $m-size;
    }

    .logo-container__text h3 {
      font-family: 'SairaCondensed-Regular';
      letter-spacing: 0.16rem;
      margin: $s-size;
    }
  }

  .modal__title {
    margin: 0 0 $m-size 0;
  }

  .modal__body {
    margin: 0 0 $m-size 0;
    font-weight: 300;
    word-break: break-all;
  }

  .modal__wrapper {
    font-family: Montserrat-Light;

    > h3 {
      margin-bottom: 0;
    }

    input {
      width: 18rem;
    }

    .button--primary {
      width: 19rem;
    }

    .register-block, 
    .login-block {
      padding: $s-size;
    }
  }

  .modal__close {
      background-color: transparent;
      border: none;
      position: absolute;
      top: $m-size;
      left: $m-size;
    }
}