//colors
$white: #ffffff;
$black: #000000;
$gray: #818181;

.header{
  background: $white;
  border-bottom: 0.1em solid $gray;
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  > button {
    background: inherit;
    display: block;
    width: 40%;
    border: none;
  }
}

.logo-container {
  margin-left: 5%;
  display: flex;
  align-items: center;

  .logo-text {
    h3 {
      color: black;
      font-family: 'SairaCondensed-Regular';
      margin-left: 0.4em;
      font-size: 1.6em;
      letter-spacing: 0.16rem;
    }
  }
}

.nav-container {
  margin-right: 5%;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;

    li {
        display: flex;
        justify-content: space-around;
        margin-left: 0.8em;
      }
  }

  button.signup-link, button.login-link {
    background: inherit;
    border: none;
    text-decoration: none;
    color: $gray;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.2em;
  }
}

  .mobile-header {
    display: none
  }

  @media all and (max-width:550px) and (min-width:0px) {
    .header > button, .nav-container {
      display: none;
    }
    
    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      > a {
        color: black;
        text-decoration: none;
      }

      .mobile-header-text {
        font-family: 'SairaCondensed-Regular';
        
        h3 {
          margin: 0.5rem 0;
          font-size: 1.3em;
        }
      }
    }
  }