//colors
$white: #ffffff;
$black: #000000;
$gray: #818181;

.header{
  background: $white;
  display: flex;
  height: 4rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
  align-items: center;

  > button {
    background: transparent;
    width: 40%;
    border: none;
  }

  &.theme__black {
    // background: #3F3D3D;
    
    button.signup-link, button.login-link {
      color: white;
    }
    .logo-text h3 {
      color: white !important;      
    }
  }

}

.theme__black.fix {
  position: fixed;
}

.logo-container {
  margin-left: 5%;
  display: flex;
  align-items: center;

  .logo-text {
    h3 {
      color: black;
      font-family: 'SairaCondensed-Regular';
      margin-left: 0.4em;
      font-size: 1.6em;
      letter-spacing: 0.16rem;
    }
  }
}

.nav-container {
  margin-right: 5%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;

  ul {
    display: flex;
    align-items: center;
    height: 52px;

    li {
        display: flex;
        justify-content: space-around;
        margin-left: 0.8em;
      }
  }

  button.signup-link, button.login-link {
    background: inherit;
    border: none;
    text-decoration: none;
    color: $gray;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.2em;
  }
}

.mobile-header {
  .mobile-header-search-icon {
    opacity: 0;
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > a {
    color: black;
    text-decoration: none;
  }

  .mobile-header-text {
    font-family: 'SairaCondensed-Regular';

    h3 {
      margin: 0.5rem 0;
      font-size: 1.3em;
      font-family: SairaSemiCondensed-Regular;
    }
  }
}

.theme__black {
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  width: 100%;
  z-index: 1;

  .mobile-header .mobile-header-text h3 {
    color: white;
  }

  + div {
    .banner__slogan > div h1 {
      padding-top: 1em;
    }

    .profile__banner-content {
      padding-top: 8em;
    }
    .banner-content {
      padding-top: 9em;
    }
    
    &.dashboard-page-wrapper {
      padding-top: 4em;
    }
    
    &.post-content {
      padding-top: 4em;
      margin-top: 8em;
    }

    &.filter-form {
      margin-top: 4em;
    }
  }
  
}


@media only screen and (min-width: 40em) {
  .theme__black {
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    width: 100%;

    + div {
      .banner {
        padding-top: 12em;
      }
      &.dashboard-page-wrapper {
        padding-top: 3.9em;
      }
    }
    
    .nav-container button.signup-link, .nav-container button.login-link {
      color: white;
    }

    .logo-text h3 {
      color: white;      
    }
  }
}

@media only screen and (min-width: 60em) {
  .header .logo-container {
    display: flex;
  }
}
