
.post-stream-top {
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section-title {
  font-family: Montserrat-Bold;
  font-size: 1.2em;
  margin-top: 2em;
  padding-left: 0.7em;
}

@media only screen and (min-width: 40em) {
  .post-stream-top {
    overflow: auto;
    height: 25em;
    padding-left: 1em;
    padding-right: 1em;
  }
}