.sidebar {
  background-color: #A9A9A9;
  height: 100%;
  width: 19em;
  display: none;
}

.sidebar-header__light-text {
  font-size: 1em;
}

.sidebar-header__bold-text {
  font-size: 1em;
  font-family: Montserrat-SemiBold;

  &.large-text {
    font-size: 1.3em;
  }
  &.small-text {
    font-size: 0.85em;
  }
}

.sidebar-header {
  padding: 2em 1em;
  font-size: 1em;
  line-height: 1.5em;
}

.sidebar-links__item {
  border-bottom: 1px solid #747474;
  position: relative;
  background-color: #4C4B4B;
  font-weight: bold;

  .button_background {
    transition: all 300ms ease-in-out;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    background-color: transparent;
  }

  a {
    display: block;
    transition: all 300ms ease-in-out;
    padding: 1em;
    position: relative;
    z-index: 1;
    color: white;
    text-decoration: none;
  }
  
  &:hover {
  
    .button_background {
      width: 100%;
      background-color: #C4C4C4;
    }
    a {
      color: #150101;
    }
  }

}


@media only screen and (min-width: 40em) {
  .sidebar {
    display: block;
  }
}