.dashboard-page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 40em;
}

.user-card {
  background-color: gray;

  .user-card_avatar {
    width: 1em;
    img {
      width: 100%;
    }
  }
}