footer {
  text-align: center;
  width: 100%;
  left: 0rem;
  bottom: 0rem;
  color: white;
  font-style: normal;
  line-height: normal;
}

.footer {
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .2)), url('/assets/img/map-typing.jpg') center center;
  background-size: cover;
  background-position: 10% 90%;
  border-bottom: 0.4rem solid #FBE15D;
  text-align: center;
  height: 50%;
  padding: 2rem 0;
  width: 100%;
}

.footer__search-section {
  align-items: center;
  margin: auto;
  width: 51%;
  margin-bottom: 1em;
}

.footer__search-section__search-text>span {
  font-family: Montserrat-Bold;
  letter-spacing: .10rem;
  width: 50%;
  height: 2.1875rem;
  font-weight: 900;
  font-size: 1.75rem;
  color: #FFFFFF;
}

.footer__search-section__search-input {
  font-size: 1rem;
  text-align: center;
  font-family: Montserrat-Light;
  font-weight: 300;
  margin-top: 1.3rem;
  width: 70%;
  height: 3.375rem;
  padding: 2%;
  background: rgba(255, 255, 255, 0.7);
  border: 0.0625rem solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0.375rem;
}

.nav-tabs {
  display: block;
  margin: auto;
  width: inherit;
}

.nav-tabs a {
  display: inline-block;
  font-family: Montserrat-Bold;
  font-weight: 800;
  font-size: 0.875rem;
  height: 1.125rem;
  text-decoration: none;
  margin-right: 1rem;
  line-height: 2em;
}

.footer__logo-button {
  align-items: center;
  display: flex;
  justify-content: center;

  >.footer__logo-button__button {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    background: #C4C4C4;
    border-radius: 3.125rem;
    padding: 0 10px;

    .footer__logo-button__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      display: flex;
      align-items: center;
      text-align: left;
      padding: 0.2rem;

      p {
        color: black;
        text-align: left;
        font-family: 'SairaSemiCondensed-Regular';
        font-size: 1.5rem;
        margin: auto;
      }
    }
  }
}

.mini-footer {
  font-family: Montserrat-Light;
  font-weight: normal;
  text-align: center;
  height: 5%;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 37%;
    width: 100%;
  }

  .nav-tabs {
    display: none;
  }

  .footer__search-section {
    width: 70%;
  }

  .footer__search-section__search-text>span {
    font-size: 150%;
    width: 85%;
  }

  .footer__search-section__search-input {
    font-size:0.8rem;
    width: 90%;
    height: 2.375rem;
  }

  .footer__logo-button>.footer__logo-button__button {
    margin: 2rem 0;
    padding: 0 9px;
  }

  .footer__logo-button>button>p {
    font-size: 130%;
    width: 70%;
    height: 4.0625rem;
  }

  .footer__logo-button>button>img {
    height: 2.51rem;
  }

  .mini-footer {
    height: 5%;
    width: 100%;
    padding-top: .4rem;
  }

  .mini-footer>span {
    font-size: 0.7rem
  }
}
@media all and (min-width: 481px) and (max-width: 766px) {
  .footer {
    height: 37%;
    width: 100%;
  }

  .nav-tabs {
    font-weight: 800;
    font-size: 100%;
  }

  .nav-tabs a {
    font-size: 0.9rem;
    margin-right: 1rem;
  }

  .footer__search-section {
    width: 65%;
  }

  .footer__search-section__search-text>span {
    font-size: 150%;
    width: 60%;
  }

  .footer__search-section__search-input {
    font-size: 1rem;
    width: 75%;
    height: 3rem;
  }

  .footer__logo-button {
  
    >.footer__logo-button__button {
      margin: 2rem 0;
      padding: 0 10px;
    
      div {
        padding: 0.2rem;
  
        p {
          font-size: 1.2rem;
          margin: auto;
        }
      }
    }
  }
  .mini-footer {
    height: 5%;
    width: 100%;
    padding: 0.9rem 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1020px) {
  .footer {
    height: 37%;
    width: 100%;
  }

  .nav-tabs {
    font-weight: 800;
    font-size: 100%;
  }

  .nav-tabs a {
    font-size: 0.99rem;
    margin-right: 1rem;
  }

  .footer__search-section {
    width: 65%;
  }

  .footer__search-section__search-text>span {
    font-size: 200%;
    width: 60%;
  }

  .footer__search-section__search-input {
    font-size: 1.5rem;
    width: 80%;
    height: 3rem;
  }

  .footer__logo-button>button {
    border-radius: 3.125rem;
  }

  .footer__logo-button>button>span {
    width: 60%;
    height: 4.0625rem;
  }

  .mini-footer {
    height: 5%;
    width: 100%;
    padding: 0.9rem 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .footer {
    height: 37%;
    width: 100%;
    left: 0rem;
    bottom: 5.5%;
  }

  .nav-tabs {
    font-weight: 800;
    font-size: 100%;
  }

  .nav-tabs a {
    font-size: 0.99rem;
  }

  .footer__search-section {
    width: 65%;
  }

  .footer__search-section__search-text>span {
    font-size: 150%;
    width: 50%;
  }

  .footer__search-section__search-input {
    font-size: 1rem;
    width: 65%;
    height: 3rem;
  }

  .footer__logo-button>button {
    height: 3.375rem;
    border-radius: 3.125rem;
  }

  .footer__logo-button>button>span {
    width: 55%;
    height: 4.0625rem;
  }

  .mini-footer {
    height: 5%;
  }
}