@import '../settings';

.stats {
  height: 100%;
  width: 100%;
  position: relative;
}

.stats__top-authors {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50%;
  color: white;
  
  > div {
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: relative;
    left: 7.25%;
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    > h1 {
      font-family: 'Century-Gothic-Bold';
      font-size: 1.92rem;
      text-align: center;
    }
  }
}

.stats__numbers {
  align-items: center;
  display: flex;
  font-size: 1.28rem;
  height: 50%;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;

  > div {
    position: relative;
    right: 7.25%;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
  h2:first-of-type {
    font-family: 'Montserrat-Bold';
    padding-bottom: 0.64rem;
  }

  h2:last-child {
    font-family: 'Montserrat-Light'
  }

  h2 span:first-child {
    font-family: 'Montez-Regular';
    letter-spacing: 0.1rem;
  }
}

.stats__numbers--writers {
  align-items: flex-end;
  top: 0;
  div {
    border-bottom: 0.1rem solid white;
    padding-bottom: 1.28rem;
  }
}

.stats__numbers--readers {
  align-items: baseline;
  bottom: 0;
    div {
      padding-top: 1.28rem;
    }
}

.author {
  * {
    font-family: 'SairaSemiCondensed-Regular';
  }
  padding: 1.92rem;
  text-align: center;
  img {
    height: 5.12rem;
    width: 5.12rem;
    border-radius: 50%;
  }
  h3 {
    font-size: 0.96rem;
    margin: 0.32rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0.1rem;
  }
  span {
    color: #F1D230
  }
}

@media (max-width: 60rem) {
  .stats {
    * {
      width: auto;
    }
    height: auto;
  }
  
  .stats__numbers {
    font-size: 1.2rem;
    position: static;
    margin: 0;
    padding: 1rem 0;
    > div {
      border: none;
      padding: 0;
      position: static;
    }
  }
  
  .stats__numbers--writers {
    border-bottom: 0.1rem solid darken(white, 50%);
  }
  
  .stats__numbers--readers {
    border-top: 0.1rem solid darken(white, 50%);
  }

  .stats__top-authors {
    position: static;

    .author {
      padding-top: 0;
    }
    > div {
      position: static;
    }

    > div h1 {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 40rem) {
  .stats {
    * {
      @include reset();
    }
    animation: none;
    margin: 0 auto;
    width: 80%;
  }
  .stats__top-authors {
    display: block;
    height: auto;
    position: static;
    div {
      display: block;
      position: static;
    }
    .stats__top-authors__authors {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  .stats__numbers {
    border: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: static;
    text-align: center;
    margin: 1.2rem 0 1.2rem 0;
    > div {
      margin: 0 auto;
      position: static;
      width: 80%;
    }
    h2 {
      font-size: 1.2rem;
    }
  }

  .stats__numbers--writers {
    > div {
      border-bottom: 0.1rem solid darken(white, 25%);
      padding-bottom: 1rem;
    }
  }
  
  .stats__numbers--readers {
    > div {
      border-top: 0.1rem solid darken(white, 25%);
      padding-top: 1.2rem;
    }
  }

  .author {
    h3 {
      font-size: 1rem;
      color: black;
    }

    p {
      font-size: 0.8rem;
      color: black;
    }
  }
}
