.notifications-widget {
  .notifications-widget__preview-pane {
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 5rem;
    opacity: 1;
    max-width: 30%;
    min-width: 15%;
    animation: fade 0.5s;
    max-height: 100vh;

  @keyframes fade {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      border-bottom: 10px solid #fff;
      right: 4rem;
      top: -18px;
    }

    > ul {
      display: block;
      > li {
        display: block;
        border-bottom: 1px solid #ddd;
        margin-left: 0;
        padding: 0.5rem;
        padding-bottom: 0;
        &:hover {
          p, button {
            color: black;
          }
        }

        &:last-child {
          border: none;
          padding: 0;
        }
        a {
          color: #555;
          display: grid;
          grid-template-columns: 1fr auto;
          text-decoration: none;
          p {
            font-family: Montserrat-SemiBold;
            font-size: 0.8rem;
            text-align: left;
          }
          span {
            display: block;
            position: relative;
            width: 1.5rem;
            small {
              bottom: 0;
              color: #aaa;
              display: block;
              font-size: 0.7rem;
              position: absolute;
              right: 0;
              text-align: right;
            }
          }
        }
        button {
          border: none;
          border-radius: 0.2rem;
          color:  #555;
          font-family: Montserrat-Light;
          font-size: 0.7rem;
          height: 100%;
          padding: 0.5rem;
          width: 100%;
        }
      }
      > li.notifications-widget__preview-pane--no-notifications {
        line-height: 1.5rem;
        padding: 0;
        > p {
          opacity: 0.3;
          text-align: center;
        }
      }
    }
  }

}

.notifications-widget__rounded-image {
  align-self: right;
  background: inherit;
  border: none;
  height: 3rem;
  outline: none;
  width: 3rem;
  position: relative;
  .notifications-widget__rounded-image__badge {
    background: #0f0;
    border: 5px solid #0f0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    right: 15%;
    position: absolute;
  }
  > .rounded-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    img {
      width: 100%;
    }
  }
}

.notifications-widget__preview-pane {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: -0.5px -0.5px 0.5px #999,  0.5px 0.5px 0.5px #999;
  padding: 1rem;
}

.notifications-widget__preview-pane--wrapper {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 2;
}