// Century Gothic
@font-face {
  font-family: 'Century-Gothic';
  src: url('/assets/fonts/century-gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century-Gothic-Bold';
  src: url('/assets/fonts/century-gothic-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Montserral
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('/assets/fonts/Montserrat-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/fonts/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/fonts/Montserrat-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/assets/fonts/Montserrat-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Saira
@font-face {
  font-family: 'SairaCondensed-Regular';
  src: url('/assets/fonts/SairaCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SairaSemiCondensed-Regular';
  src: url('/assets/fonts/SairaSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Montez
@font-face {
  font-family: 'Montez-Regular';
  src: url('/assets/fonts/Montez-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}